@media only screen and (max-width: 1100px) {
    .header__section {
        display: none;
    }

    .first-section__header{
        margin: 0;

        justify-content: start;
    }

    .header__logo {
        margin-left: 22px;
        margin-top: 33px;
    }

    .first-section{ 
        height: 782px;
    }

    .first-section__main{
        flex-direction: column;
        padding-top: 72px;
    }

    .text {
        line-height: 120%;

        text-align: center;
    }

    .--second-text {
        width: calc(100% - 54px);

        text-align: center;
    }

    .text-section__first-text{
        font-size: 36px;

        padding-bottom: 30px;
    }

    .text-section__second-text {
        padding-top: 10px;
    }

    .main__computer {
        width: 70vw;
        padding-right: 0;

        min-width: 298px;
        min-height: 195px;
    }

    .main__text-section {
        align-items: center;
        padding-top: 30px;
        padding-right: 0;
    }

    .works {        
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .works__section {
        width: 100%;
        justify-content: space-evenly;
    }

    .works-section__items {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .works-text__number {
        text-align: start;
    }

    .about-me {
        padding-top: 90px;
    }

    .my-skills {
        flex-direction: column-reverse;
        justify-content: flex-end;

        padding-top: 90px;
    }

    .my-skills__photo{
        width: 90vw;
        height: 72vw;
    }

    .my-skills__text {
        padding-right: 0;
    }

    .my-skills-text-items-name__rectangle1 {
        width: calc(100vw - 36px);
    }

    .my-skills-text-items-name__rectangle2 {
        width: calc(100vw - 108px);
    }

    .my-skills-text-items__name {
        text-align: start;
    }

    .my-skills-text__title {
        text-align: center;

        margin-bottom: 35px;
    }

    .how-i-work__video {
        width: 90vw;
        height: 48vw;;
    }

    .how-i-work {
        
    }

    .how-i-work__text {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .video__play {
        width: 20vw;

        max-width: 75px;
        max-height: 75px;
    }

    .look-section__item {
        height: calc(100vw / 2);
    }

    .look-section-item__picture {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
    }

    .look-section-item__span {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
    }

    .look-section-item-span__view {
        width: 10vw;

        min-width: 50px;
        min-height: 50px;
    }

    .look-section {
        margin-top: 34px;
        margin-bottom: 34px;
    }

    .--1-item {
        order: 1;
    }
    .--2-item{
        order: 2;
    }
    .--3-item{
        order: 4;
    }
    .--4-item{
        order: 3;
    }
    .--5-item {
        order: 6;
    }
    .--6-item{
        order: 5;
    }
    .--7-item{
        order: 7;
    }
    .--8-item{
        order: 8;
    }

    .form__first-text {
        margin-top: 90px;
    }

    .form__section {
        width: calc(100vw - 32px);

        justify-content: space-evenly;
        align-items: stretch;
    }

    .form-section__first-section {
        flex-direction: column;
    }

    .--form {
        width: calc(100vw - 32px);
    }

    .first-section__first {
        width: 100%;
    }

    .form-section__second {
        width: 100%;
    }

    .footer__links {
        width: 100%;
    }

    .footer {
        height: 210px;

        flex-direction: column;
    }

    .footer__name {
        margin-top: 60px;
    }

    .footer__links {
        width: 175px;
        margin-bottom: 48px;
        margin-top: 30px;
    }

    .form-section__button {
        margin-bottom: 70px;
    }

    .footer-name__first {
        margin-bottom: 10px;
    }
}

