@media only screen and (max-width: 1100px) {
    .header__section {
        display: none;
    }

    .first-section__header{
        margin: 0;

        justify-content: start;
    }

    .header__logo {
        margin-left: 22px;
    }

    .first-section{ 
        height: 782px;
    }

    .first-section__main{
        flex-direction: column;
    }

    .text {
        line-height: 120%;

        text-align: center;
    }

    .--second-text {
        width: calc(100% - 54px);

        text-align: center;
    }

    .text-section__first-text{
        font-size: 36px;
    }

    .main__computer {
        width: 70vw;
        padding-right: 0;
    }

    .main__text-section {
        align-items: center;
    }

    .works {
        height: 477px;
    }

    .works__section {
        width: 100%;
    }

    .works-section__items {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .works-text__number {
        text-align: start;
    }

    .my-skills {
        height: 815px;

        flex-direction: column-reverse;

    }

    .my-skills__photo{
        width: 90vw;
        height: 72vw;

    }

    .my-skills__text {
        padding-right: 0;
    }

    .my-skills-text-items-name__rectangle1 {
        width: calc(100vw - 36px);
    }

    .my-skills-text-items-name__rectangle2 {
        width: calc(100vw - 108px);
    }

    .my-skills-text-items__name {
        text-align: start;
    }

    .how-i-work__video {
        width: 90vw;
        height: 48vw;;
    }

    .how-i-work {
        height: 596px;
    }

    .video__play {
        width: 20vw;

        max-width: 75px;
        max-height: 75px;
    }

    .look-section-item__picture {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
    }

    .look-section-item__span {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
    }

    .look-section-item-span__view {
        width: 10vw;

        min-width: 50px;
        min-height: 50px;
    }

    .look-section {
        margin-top: 34px;
        margin-bottom: 34px;
    }

    .--1-item {
        order: 1;
    }
    .--2-item{
        order: 2;
    }
    .--3-item{
        order: 4;
    }
    .--4-item{
        order: 3;
    }
    .--5-item {
        order: 6;
    }
    .--6-item{
        order: 5;
    }
    .--7-item{
        order: 7;
    }
    .--8-item{
        order: 8;
    }

    .form {
        height: 830px;
    }

    .form__section {
        width: calc(100vw - 52px);

        justify-content: space-evenly;
        align-items: stretch;
    }

    .form-section__first-section {
        flex-direction: column;
    }

    .--form {
        width: calc(100vw - 52px);
    }

    .first-section__first {
        width: 100%;
    }

    .form-section__second {
        width: 100%;
    }

    .footer__links {
        width: 100%;
    }

    .footer {
        height: 210px;

        flex-direction: column;
    }

    .footer__name {
        margin-top: 50px;
    }

    .footer__links {
        width: 175px;
        margin-bottom: 48px;
        margin-top: 39px;
    }

    .form-section__button {
        margin-bottom: 70px;
    }
}

