@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}
/* 
body {
    opacity: .5;
} */

html {
    /* background: url(/AboutMe/img/check-desk.png); */

    width: 100vw;
    max-width: 100%;

    overflow-x: hidden;
}

section {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.text__second-text {
    text-align: center;
    color: #727272;

    width: 540px;
}

.text__first-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    text-align: -webkit-match-parent;
}

.button {
    width: 225px;
    height: 65px;       

    background-color:  #34547A;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;

    border: none;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.back-white {
    background: #F9F9F9;
}

.back-grey {
    background: #EEEFF1;
}

.back-blue {
    background: #34547A;
}

.first-section{
    display: flex;
    flex-direction: column;
}

.first-section__main{
    padding-top: 110px;
    padding-bottom: 144px;
    
    display: flex;
    align-items: center;
    justify-content: right;
}

.first-section__header{
    padding-top: 57px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    width: 100%;
}

.header__logo{
    margin-left: 14px;

    justify-self: center;
}

.header__section{
    list-style-type: none;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-section__item{
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin: 0 21px 0 21px;
}

.header-section__item:hover {
    font-weight: 500;

    color: #34547A;
}

.main__text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 27px;
    padding-right: 20px;
}

.main__computer {
    max-width: 357px;
    max-height: 234px;
    padding-right: 126px;
}

.text-section__first-text{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    padding-bottom: 40px;

    color: #000000;
}

.text-section__second-text {
    text-align: start;
    padding-bottom: 40px;

    white-space: pre-line;
}

.about-me{
    padding-top: 120px;
    margin: 0 auto;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__first-text {
    padding-bottom: 50px;
}

.works {
    height: fit-content;

    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    align-content: center;
    justify-content: center;

    margin: auto;
}

.works__section {
    width: 97%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.works-section__items {
    color: #FFFFFF;

    display: flex;
}

.works-items__logo {
    width: 50px;
    padding-right: 20px;
}

.works-items__text {
    display: flex;
    flex-direction: column;
}

.works-text__number {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.my-skills {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.my-skills__photo{
    max-width: 555px;
    max-height: 450px;
}

.my-skills__text {
    padding-top: 100px;
}

.my-skills-text__title {
    text-align: start;
    margin-bottom: 50px;
}

.my-skills-text__items {
    display: flex;
    
    flex-direction: column;

    margin-bottom: 30px;
}

.my-skills-text-items__name {
    color: #727272;
    margin-bottom: 20px;
}

.my-skills-text-items-name__rectangle1 {
    background-color: #C4C4C4;
    position: relative;
    z-index: 1;

    width: 445px;
    height: 4px;
}

.my-skills-text-items-name__rectangle2 {
    position: relative;
    z-index: 2;
    background-color: #34547A;
    transform: rotate(-0.06deg);

    width: 350px;
    height: 4px;
}

.how-i-work {
    background: #EEEFF1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
}

.how-i-work__video {
    width: 70vw;
    height: 38vw;

    max-width: 1110px;
    max-height: 600px;

    background: url(../img/video_back.png) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.video__play {
    position: absolute;
    z-index: 2;

    width: 5vw;

    align-self: center;
}

.how-i-work__text {
    margin-top: 100px;
    margin-bottom: 50px;
}

.how-i-work__little-text {
    margin-bottom: 57px;

    width: 540px;
}

.look-section {
    max-width: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 28px;
    margin-bottom: 28px;
}

.look-section__item {
    height: calc(100vw / 4);
    padding: 0;
}

.look-section-item__picture {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
}

.look-section-item__span {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
  
    position: absolute;

    background: rgba(52, 84, 122, 0.8);
    opacity: 0;
    transition: opacity .4s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

.look-section-item__span:hover {
    opacity: 1;
}

.look-section-item-span__view {
    width: 10vw;

    max-width: 100px;
    max-height: 100px;
}

.look-section__1-item {
    order: 4;
}
.look-section__2-item{
    order: 1;
}
.look-section__3-item{
    order: 2;
}
.look-section__4-item{
    order: 3;
}
.look-section__5-item {
    order: 8;
}
.look-section__6-item{
    order: 5;
}
.look-section__7-item{
    order: 6;
}
.look-section__8-item{
    order: 7;
}

.form {
    background-color: #EEEFF1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form__section {
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form__first-text {
    margin-top:100px;
    padding-bottom: 50px;
}

.form-section__first-section {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.first-section__first {
    width: 235px;
    height: 50px;

    margin-bottom: 20px;

    border: none;
}

.form-section__second {
    width: 520px;
    height: 155px;
    
    resize: none;

    padding-top: 17px;

    border: none;
}

.text__form {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: #5F5D5D;

    text-align: start;
}

.text__form::placeholder {
    padding-left: 20px;

    text-align: start;
}

.form-section__button {
    width: 190px;
    height: 55px;

    margin-top: 50px;

    margin-bottom: 90px;
}

.footer {
    background: #34547A;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 200px;
}

.footer__name {
    display: flex;
    flex-direction: column;

    color: #FFFFFF;
}

.footer-name__first {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    margin-bottom: 20px;
}

.footer-name__second {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}